<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/styrun.css">

    <title>Contact Us</title>
</head>
<body>
     <!-- header section     -->
     <header class="navbar">

        <!-- logo  -->
        <div class="logodiv">
            <img class="logoit" src="../assets/images/sportlogo.jpg" alt="" width="200px">

        </div>



        <!-- menu bar -->

        <nav class="menu">
            <ul>
                <li> <a href="../index.html"> Home </a></li>
                <li>Services</li>
                <li>Blog</li>
                <li>Office</li>
                <li> Contact</li>
            </ul>
        </nav>


        <!-- search bar -->
        <div class="alignsearch">
            <div class="searchbox">


                <input class="searchinput" type="text" placeholder="Search ..." name="" id="">
                <i class="fa-solid fa-magnifying-glass color-blue"></i>

            </div>
        </div>
        <br><br><br><br><br><br>

    </header>
    
    <script src="https://kit.fontawesome.com/8585262242.js" crossorigin="anonymous"></script>

</body>
</html>